body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: olive;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.para {
    text-align: justify;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; /* Adjust fon size for smaller screens */
    }
    h1, h2 {
        font-size: 1.5em;
    }
    p {
        line-height: 1.4; /*Adjust the  line height for better readability */
    }
    /* Make text lighter on smaller screens */
    body {
        color: #666;
    }
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    height: 20px;
}

.courses {
    list-style-type: none;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
li {
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 50px;
}

main {
    padding: 20px;
    text-align: center;
}
section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
header {
    background-color: #423e3b; /* Darker brown header background color */
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer {
    background-color: #8b5d2e; /* Darker brown footer background color */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

a {
    color: #4c2b0d; /* Brown link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
main {
    margin-top: 10%;
    text-align: center;
    padding: 20px;
    flex-grow: 1; /* Allow the main content to grow and fill the remaining space */

}
.sec_main {
    margin-top: 5%;
    text-align: center;
    padding: 20px;
    flex-grow: 1; /* Allow the main content to grow and fill the remaining space */

}
footer {
    background-color: #333; /* Darker brown footer background color */
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%; /* Full width footer */
}

a {
    color: #4c2b0d; /* Brown link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

/* Additional Style for the Contact Link in the Footer */
.contact-link {
    color: #fff; /* Match the color of other text in the footer */
    font-weight: bold;
}